<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="InspireHandRH56E2" params="name:='' direction:=1 use_flange:=false fixed_joints:=false">

    <xacro:property name="prefix" value="${name + '_' if name else ''}"/>
    <xacro:property name="dir" value="${-1 * int(direction)}"/>
    <xacro:property name="joint_type" value="${fixed_joints and 'fixed' or 'revolute'}"/>

    <xacro:if value="${use_flange}">
      <link name="${prefix}flange">
        <inertial>
          <origin xyz="-0.000388 0.002345 0.0"/>
          <mass value="0.114"/>
          <inertia
              ixx="0.000040105"
              ixy="0.000000214"
              ixz="0.0"
              iyy="0.000085776"
              iyz="0.0"
              izz="0.000054044"/>
        </inertial>
        <visual>
          <geometry>
            <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/ft_sensor.glb"  scale="1 ${dir} 1" />
          </geometry>
        </visual>
      </link>
      <joint name="${prefix}flange_joint" type="fixed">
        <origin xyz="0 0 0.0355" rpy="0 0 ${-dir*1.5708}"/>
        <parent link="${prefix}flange"/>
        <child link="${prefix}hand_base"/>
      </joint>
    </xacro:if>

    <link name="${prefix}hand_base">
      <inertial>
        <origin xyz="4.56066702604653E-05 ${dir*-0.003106244650993} 0.0366752784828355" />
        <mass value="0.62266" />
        <inertia
          ixx="0.000238088630601122"
          ixy="${dir*-1.16726665812887E-06}"
          ixz="5.77609124558337E-07"
          iyy="0.00028210406583092"
          iyz="${dir*1.55368683899448E-05}"
          izz="0.000154836898082308" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/base.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/base.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}palm_force_sensor">
      <inertial>
        <origin xyz="0.000120426871221421 ${dir*0.000717269582936034} -0.0006928935004962" />
        <mass value="0.001" />
        <inertia
          ixx="1.792409847502E-07"
          ixy="${dir*3.5297874278755E-10}"
          ixz="-2.06007907879908E-10"
          iyy="5.01925280756008E-07"
          iyz="${dir*-4.23310809567535E-10}"
          izz="6.80058307355101E-07" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/palm_force_sensor.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
    </link>

    <joint name="${prefix}palm_force_sensor_joint" type="fixed">
      <origin xyz="-0.00036819 ${dir*0.012296} 0.0841" rpy="${dir*1.5708} 0 ${dir*-3.1416}" />
      <parent link="${prefix}hand_base" />
      <child link="${prefix}palm_force_sensor" />
    </joint>

    <link name="${prefix}thumb_1">
      <inertial>
        <origin xyz="-0.000892586815740379 ${dir*0.000344905600937098} 0.00159994421661698" />
        <mass value="0.00746" />
        <inertia
          ixx="1.29835194524364E-07"
          ixy="${dir*-5.71160730713237E-09}"
          ixz="1.48758957374632E-08"
          iyy="1.11222050936534E-07"
          iyz="${dir*-2.10521827472609E-09}"
          izz="7.03400601569091E-08" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/thumb1.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/thumb1.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}thumb_joint1" type="${joint_type}">
      <origin xyz="-0.0269 ${dir*0.02101} 0.0334" />
      <parent link="${prefix}hand_base" />
      <child link="${prefix}thumb_1" />
      <axis xyz="0 0 ${-dir}" />
      <limit lower="0" upper="1.1641" effort="10" velocity="1" />
    </joint>

    <link name="${prefix}thumb_2">
      <inertial>
        <origin xyz="0.0138310184561186 ${dir*0.0119153040965892} -0.0066040787609158" />
        <mass value="0.04264" />
        <inertia
          ixx="1.07086820134242E-06"
          ixy="${dir*-7.72811128729268E-08}"
          ixz="1.6492356088499E-09"
          iyy="9.9489890406106E-07"
          iyz="${dir*-1.72519450001931E-09}"
          izz="1.35184010899012E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/thumb2.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/thumb2.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}thumb_joint2" type="${joint_type}">
      <origin xyz="-0.0079252 ${dir*0.0090599} 0.0052" rpy="${dir*1.5708} 0 ${dir*2.8798}" />
      <parent link="${prefix}thumb_1" />
      <child link="${prefix}thumb_2" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="0.5864" effort="10" velocity="1" />
    </joint>

    <link name="${prefix}thumb_3">
      <inertial>
        <origin xyz="0.0108798353899717 ${dir*0.0042597051968735} -0.00764637401672714" />
        <mass value="0.01501" />
        <inertia
          ixx="5.19560132472211E-07"
          ixy="${dir*-1.00415069131876E-07}"
          ixz="-9.80140512897539E-11"
          iyy="5.03378983794322E-07"
          iyz="${dir*-1.59532488112783E-10}"
          izz="5.33618730069293E-07" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/thumb3.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/thumb3.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}thumb_joint3" type="${joint_type}">
      <origin xyz="0.031403 ${dir*0.021069} 0.00095" />
      <parent link="${prefix}thumb_2" />
      <child link="${prefix}thumb_3" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="0.5" effort="10" velocity="1" />
      <mimic
          joint="${prefix}thumb_joint2"
          multiplier="0.8024"
          offset="0" />
    </joint>

    <link name="${prefix}thumb_force_sensor_2">
      <inertial>
        <origin xyz="2.43300294987259E-05 ${dir*5.45016031029619E-05} -0.00109137669633625" />
        <mass value="0.001" />
        <inertia
          ixx="3.34747183285769E-10"
          ixy="${dir*-3.83618671521233E-14}"
          ixz="-3.52155403886961E-13"
          iyy="3.3582079154486E-10"
          iyz="${dir*1.08928107999936E-12}"
          izz="5.8857712310973E-10" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/thumb_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/thumb_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}thumb_force_sensor_2_joint" type="fixed">
      <origin xyz="0.011771 ${dir*0.01699} -0.0077514" rpy="${dir*1.8405} -1.5705 ${dir*3.1416}" />
      <parent link="${prefix}thumb_3" />
      <child link="${prefix}thumb_force_sensor_2" />
    </joint>

    <link name="${prefix}thumb_4">
      <inertial>
        <origin xyz="0.0163213285767181 ${dir*0.00521948646562768} -0.00735105906992692" />
        <mass value="0.00972" />
        <inertia
          ixx="5.94898170313626E-07"
          ixy="${dir*-2.54243319254154E-07}"
          ixz="-3.85279480113408E-11"
          iyy="7.79213727447204E-07"
          iyz="${dir*1.05044609120841E-10}"
          izz="8.99837239850073E-07" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/thumb4.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/thumb4.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    
    <joint name="${prefix}thumb_joint4" type="${joint_type}">
      <origin xyz="0.021903 ${dir*0.012816} -0.0003" />
      <parent link="${prefix}thumb_3" />
      <child link="${prefix}thumb_4" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="3.14" effort="10" velocity="1" />
      <mimic
          joint="${prefix}thumb_joint2"
          multiplier="0.76123688"
          offset="0" />
    </joint>

    <link name="${prefix}thumb_force_sensor_3">
      <inertial>
        <origin xyz="-1.23775059738263E-05 ${dir*-0.000195169652742258} -0.000791740559016839" />
        <mass value="0.001" />
        <inertia
          ixx="5.41310691342173E-09"
          ixy="${dir*6.87296172207439E-13}"
          ixz="6.30644149217552E-13"
          iyy="2.55911790350329E-09"
          iyz="${dir*3.82480948255569E-11}"
          izz="7.82908815507693E-09" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/thumb_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/thumb_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}thumb_force_sensor_3_joint" type="fixed">
      <origin xyz="0.014598 ${dir*0.01472} -0.0073103" rpy="${dir*-0.20892} -1.5708 ${dir*-0.81953}" />
      <parent link="${prefix}thumb_4" />
      <child link="${prefix}thumb_force_sensor_3" />
     
    </joint>
    <link name="${prefix}thumb_force_sensor_4">
      <inertial>
        <origin xyz="-7.92360954363081E-07 ${dir*0.000270176676441192} -0.00100449430451509" />
        <mass value="0.001" />
        <inertia
          ixx="8.13571079919818E-11"
          ixy="${dir*2.58693510294188E-14}"
          ixz="-1.96984280101514E-14"
          iyy="1.7077491736553E-10"
          iyz="${dir*-3.77214180289288E-12}"
          izz="2.11640709143909E-10" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/thumb_force_sensor_4.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/thumb_force_sensor_4.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}thumb_force_sensor_4_joint" type="fixed">
      <origin xyz="0.028987 ${dir*0.017301} -0.0073512" rpy="${dir*1.6795} 1.5708 ${dir*2.7448}" />
      <parent link="${prefix}thumb_4" />
      <child link="${prefix}thumb_force_sensor_4" />
     
    </joint>
    <link name="${prefix}thumb_force_sensor_1">
      <inertial>
        <origin xyz="1.67085981274823E-05 ${dir*1.15915239991271E-05} -0.00107125254163185" />
        <mass value="0.001" />
        <inertia
          ixx="9.01126285102489E-09"
          ixy="${dir*-2.19183765993572E-15}"
          ixz="-2.32024611820209E-12"
          iyy="4.94554439784859E-09"
          iyz="${dir*1.17775921788887E-11}"
          izz="1.35651458253969E-08" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/thumb_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/thumb_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}thumb_force_sensor_1_joint" type="fixed">
      <origin xyz="0.0087121 ${dir*0.026305} -0.0067115" rpy="${dir*-1.5728} -1.5708 ${dir*0.35156}" />
      <parent link="${prefix}thumb_2" />
      <child link="${prefix}thumb_force_sensor_1" />
    </joint>

    <link name="${prefix}index_1">
      <inertial>
        <origin xyz="-0.00219417482969622 ${dir*0.0127409366565626} -0.00664941200246505" />
        <mass value="0.02841" />
        <inertia
          ixx="1.13161497176563E-06"
          ixy="${dir*7.33862739323413E-08}"
          ixz="1.02122975969852E-11"
          iyy="5.50297969803493E-07"
          iyz="${dir*2.465893504551E-11}"
          izz="1.17483803325344E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index1.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index1.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}index_joint" type="${joint_type}">
      <origin xyz="-0.038679 ${dir*0.00056467} 0.1209" rpy="${dir*1.6057} 0 ${dir*-1.5708}" />
      <parent link="${prefix}hand_base" />
      <child link="${prefix}index_1" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="1.4381" effort="10" velocity="1" />
    </joint>

    <link name="${prefix}index_2">
      <inertial>
        <origin xyz="0.00053282674431529 ${dir*0.0253434850963997} -0.00609291472256712" />
        <mass value="0.01218" />
        <inertia
          ixx="2.11107718074946E-06"
          ixy="${dir*3.78350673743143E-07}"
          ixz="-4.27563147991044E-10"
          iyy="3.7048516715658E-07"
          iyz="${dir*2.82151424550267E-09}"
          izz="2.14315437386293E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index2.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index2.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}index_dip" type="${joint_type}">
      <origin xyz="-0.0034259 ${dir*0.032596} -0.00055" />
      <parent link="${prefix}index_1" />
      <child link="${prefix}index_2" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="3.14" effort="10" velocity="1" />
      <mimic
          joint="${prefix}index_joint"
          multiplier="1.0843"
          offset="0" />
    </joint>

    <link name="${prefix}index_force_sensor_2">
      <inertial>
        <origin xyz="3.91105790090857E-06 ${dir*0.000206428506730846} -0.000722888656592813" />
        <mass value="0.001" />
        <inertia
          ixx="4.79878645065383E-09"
          ixy="${dir*-8.64076408119868E-11}"
          ixz="-1.50330115198978E-12"
          iyy="2.43958893457374E-09"
          iyz="${dir*-3.05132448820234E-11}"
          izz="7.12570334555721E-09" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/index_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/index_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}index_force_sensor_2_joint" type="fixed">
      <origin xyz="-0.0081655 ${dir*0.037446} -0.0060795" rpy="${dir*-1.5708} -1.5337 ${dir*1.9196}" />
      <parent link="${prefix}index_2" />
      <child link="${prefix}index_force_sensor_2" />
    </joint>
    <link name="${prefix}index_force_sensor_3">
      <inertial>
        <origin xyz="-2.48722057788475E-05 ${dir*-0.000345285689256153} -0.00133800038179009" />
        <mass value="0.001" />
        <inertia
          ixx="1.31974821284448E-10"
          ixy="${dir*5.65060068039544E-12}"
          ixz="7.79117122469869E-13"
          iyy="2.53430134807533E-10"
          iyz="${dir*9.12198063131294E-12}"
          izz="2.8053351791299E-10" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/index_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/index_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}index_force_sensor_3_joint" type="fixed">
      <origin xyz="-0.0086237 ${dir*0.052572} -0.0060954" rpy="${dir*-1.5708} -1.5252 ${dir*0.87237}" />
      <parent link="${prefix}index_2" />
      <child link="${prefix}index_force_sensor_3" />
     
    </joint>
    <link name="${prefix}index_force_sensor_1">
      <inertial>
        <origin xyz="4.50639917342482E-06 ${dir*0.000116571661332499} -0.000567443126962358" />
        <mass value="0.001" />
        <inertia
          ixx="3.38028798502951E-09"
          ixy="${dir*-5.04640338896759E-11}"
          ixz="-2.15701714440087E-13"
          iyy="1.96412698995832E-09"
          iyz="${dir*-5.48195334354584E-12}"
          izz="5.28079732652296E-09" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/index_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/index_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}index_force_sensor_1_joint" type="fixed">
      <origin xyz="-0.012046 ${dir*0.019649} -0.006651" rpy="${dir*-1.5708} -1.5351 ${dir*1.3587}" />
      <parent link="${prefix}index_1" />
      <child link="${prefix}index_force_sensor_1" />
    </joint>

    <link name="${prefix}middle_1">
      <inertial>
        <origin xyz="-0.00219417478814514 ${dir*0.0127409366268324} -0.00664941207814898" />
        <mass value="0.02841" />
        <inertia
          ixx="1.1316149557554E-06"
          ixy="${dir*7.33862743651549E-08}"
          ixz="1.02132031162304E-11"
          iyy="5.50297969652712E-07"
          iyz="${dir*2.46615051816588E-11}"
          izz="1.17483802522199E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index1.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index1.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}middle_joint" type="${joint_type}">
      <origin xyz="-0.0171 ${dir*0.00056467} 0.1215" rpy="${dir*1.5708} 0 ${dir*-1.5708}" />
      <parent link="${prefix}hand_base" />
      <child link="${prefix}middle_1" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="1.4381" effort="10" velocity="1" />
    </joint>

    <link name="${prefix}middle_2">
      <inertial>
        <origin xyz="-9.21583803522863E-05 ${dir*0.0270332758922563} -0.00610054154137712" />
        <mass value="0.01561" />
        <inertia
          ixx="2.58635805719435E-06"
          ixy="${dir*4.53231180080783E-07}"
          ixz="-7.60066680662939E-12"
          iyy="4.10296161873934E-07"
          iyz="${dir*7.98220547148583E-11}"
          izz="2.62934430889061E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/middle2.glb" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/middle2.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}middle_dip" type="${joint_type}">
      <origin xyz="-0.0034259 ${dir*0.032596} -0.00055" />
      <parent link="${prefix}middle_1" />
      <child link="${prefix}middle_2" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="3.14" effort="10" velocity="1" />
      <mimic
          joint="${prefix}middle_joint"
          multiplier="1.0843"
          offset="0" />
    </joint>

    <link name="${prefix}middle_force_sensor_2">
      <inertial>
        <origin xyz="-3.55652627983399E-07 ${dir*2.88666331397097E-05} -0.000722235489778011" />
        <mass value="0.001" />
        <inertia
          ixx="5.0422606271269E-09"
          ixy="${dir*3.96627458520336E-13}"
          ixz="-3.26041478715661E-14"
          iyy="2.56807850635636E-09"
          iyz="${dir*3.53736208701199E-12}"
          izz="7.49563436241948E-09" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/middle_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/middle_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}middle_force_sensor_2_joint" type="fixed">
      <origin xyz="-0.0090859 ${dir*0.040963} -0.0061003" rpy="${dir*2.7687} -1.5708 ${dir*3.885}" />
      <parent link="${prefix}middle_2" />
      <child link="${prefix}middle_force_sensor_2" />
     
    </joint>
    <link name="${prefix}middle_force_sensor_3">
      <inertial>
        <origin xyz="6.04731043574169E-08 ${dir*-0.00036544534557964} -0.00127683945630336" />
        <mass value="0.001" />
        <inertia
          ixx="1.27227764572837E-10"
          ixy="${dir*1.00476590749141E-14}"
          ixz="8.57880628295176E-15"
          iyy="2.43691164484046E-10"
          iyz="${dir*7.61272996067342E-12}"
          izz="2.7587517056304E-10" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/middle_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/middle_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}middle_force_sensor_3_joint" type="fixed">
      <origin xyz="-0.0098294 ${dir*0.056051} -0.0061006" rpy="${dir*2.4672} -1.5708 ${dir*3.14}" />
      <parent link="${prefix}middle_2" />
      <child link="${prefix}middle_force_sensor_3" />
     
    </joint>
    <link name="${prefix}middle_force_sensor_1">
      <inertial>
        <origin xyz="3.42843697213185E-07 ${dir*0.000116657509605197} -0.000567442695803486" />
        <mass value="0.001" />
        <inertia
          ixx="3.38208410519618E-09"
          ixy="${dir*1.8756957436983E-13}"
          ixz="-1.99647221364603E-14"
          iyy="1.96233204624223E-09"
          iyz="${dir*-5.48580562274466E-12}"
          izz="5.2807983995112E-09" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/middle_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/middle_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}middle_force_sensor_1_joint" type="fixed">
      <origin xyz="-0.012046 ${dir*0.019649} -0.006651" rpy="${dir*2.9295} -1.5708 ${dir*3.14}" />
      <parent link="${prefix}middle_1" />
      <child link="${prefix}middle_force_sensor_1" />
    </joint>

    <link name="${prefix}ring_1">
      <inertial>
        <origin xyz="-0.00219417465246989 ${dir*0.0127409362160862} -0.0066494113506478" />
        <mass value="0.02841" />
        <inertia
          ixx="1.13161521046633E-06"
          ixy="${dir*7.33862976638613E-08}"
          ixz="1.02299251281265E-11"
          iyy="5.50298017624686E-07"
          iyz="${dir*2.46423372584933E-11}"
          izz="1.17483820891763E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index1.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index1.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}ring_joint" type="${joint_type}">
      <origin xyz="0.0045302 ${dir*0.00056467} 0.12133" rpy="${dir*1.5184} 0 ${dir*-1.5708}" />
      <parent link="${prefix}hand_base" />
      <child link="${prefix}ring_1" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="1.4381" effort="10" velocity="1" />
    </joint>

    <link name="${prefix}ring_2">
      <inertial>
        <origin xyz="0.000532825578113461 ${dir*0.02534346612146} -0.00609293344206238" />
        <mass value="0.01281" />
        <inertia
          ixx="2.1110771068108E-06"
          ixy="${dir*3.78350047415621E-07}"
          ixz="-4.27359495460949E-10"
          iyy="3.70485089846105E-07"
          iyz="${dir*2.82233622984192E-09}"
          izz="2.14315369799671E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index2.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index2.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}ring_dip" type="${joint_type}">
      <origin xyz="-0.0034259 ${dir*0.032596} -0.00055" />
      <parent link="${prefix}ring_1" />
      <child link="${prefix}ring_2" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="3.14" effort="10" velocity="1" />
      <mimic
          joint="${prefix}ring_joint"
          multiplier="1.0843"
          offset="0" />
    </joint>
    <link name="${prefix}ring_force_sensor_2">
      <inertial>
        <origin xyz="-1.52436836100122E-05 ${dir*0.000205901966578506} -0.000722888420897932" />
        <mass value="0.001" />
        <inertia
          ixx="4.79446001367797E-09"
          ixy="${dir*1.32867587230544E-10}"
          ixz="1.3319969497832E-12"
          iyy="2.44391505492957E-09"
          iyz="${dir*-3.05212434039785E-11}"
          izz="7.12570290551646E-09" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/ring_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/ring_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}ring_force_sensor_2_joint" type="fixed">
      <origin xyz="-0.00816549212353353 ${dir*0.0374457610846523} -0.00607949056508933" rpy="${dir*1.57079632679487} -1.51508890383765 ${dir*-1.22202982373572}" />
      <parent link="${prefix}ring_2" />
      <child link="${prefix}ring_force_sensor_2" />
     
    </joint>
    <link name="${prefix}ring_force_sensor_3">
      <inertial>
        <origin xyz="1.45480090249107E-05 ${dir*-0.000345868489067203} -0.00133799622683203" />
        <mass value="0.001" />
        <inertia
          ixx="1.32268380918037E-10"
          ixy="${dir*-8.21005557691383E-12}"
          ixz="-2.63863504125309E-13"
          iyy="2.53139740379503E-10"
          iyz="${dir*9.1510626727994E-12}"
          izz="2.80536239837899E-10" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/ring_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/ring_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}ring_force_sensor_3_joint" type="fixed">
      <origin xyz="-0.00862372785817732 ${dir*0.0525719273258207} -0.00609538761271226" rpy="${dir*1.57079632679487} -1.50247215376038 ${dir*-2.26922737493233}" />
      <parent link="${prefix}ring_2" />
      <child link="${prefix}ring_force_sensor_3" />
     
    </joint>
    <link name="${prefix}ring_force_sensor_1">
      <inertial>
        <origin xyz="-5.90327958142033E-06 ${dir*0.000116509445804644} -0.000567443259521572" />
        <mass value="0.001" />
        <inertia
          ixx="3.37799540185096E-09"
          ixy="${dir*7.60796091703617E-11}"
          ixz="2.73854397843076E-13"
          iyy="1.96641957767428E-09"
          iyz="${dir*-5.47947431188363E-12}"
          izz="5.28079735826682E-09" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/ring_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/ring_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}ring_force_sensor_1_joint" type="fixed">
      <origin xyz="-0.0120461582060112 ${dir*0.019648547178991} -0.00665098451502209" rpy="${dir*1.57079632679491} -1.51723862304532 ${dir*-1.78288465285967}" />
      <parent link="${prefix}ring_1" />
      <child link="${prefix}ring_force_sensor_1" />
    </joint>

    <link name="${prefix}pinky_1">
      <inertial>
        <origin xyz="-0.00219418424084009 ${dir*0.0127409391731467} -0.00664940009923338" />
        <mass value="0.02841" />
        <inertia
          ixx="1.13161476879442E-06"
          ixy="${dir*7.33861803205532E-08}"
          ixz="9.70201262730489E-12"
          iyy="5.50297118553785E-07"
          iyz="${dir*2.47668324333468E-11}"
          izz="1.17483808711618E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index1.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/index1.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}pinky_joint" type="${joint_type}">
      <origin xyz="0.025916 ${dir*0.00056467} 0.11815" rpy="${dir*1.4661} 0 ${dir*-1.5708}" />
      <parent link="${prefix}hand_base" />
      <child link="${prefix}pinky_1" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="1.4381" effort="10" velocity="1" />
    </joint>
    <link name="${prefix}pinky_2">
      <inertial>
        <origin xyz="0.00142962322858008 ${dir*0.0206390061213492} -0.00609937271859847" />
        <mass value="0.00957" />
        <inertia
          ixx="1.1469386346846E-06"
          ixy="${dir*2.22234007983847E-07}"
          ixz="3.68343779413029E-11"
          iyy="2.66181840844389E-07"
          iyz="${dir*-2.048922749441E-11}"
          izz="1.15056368955352E-06" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/pinky2.glb" scale="1 ${dir} 1" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/pinky2.glb" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}pinky_dip" type="${joint_type}">
      <origin xyz="-0.0034259 ${dir*0.032596} -0.00055" />
      <parent link="${prefix}pinky_1" />
      <child link="${prefix}pinky_2" />
      <axis xyz="0 0 ${dir}" />
      <limit lower="0" upper="3.14" effort="10" velocity="1" />
      <mimic
          joint="${prefix}pinky_joint"
          multiplier="1.0843"
          offset="0" />
    </joint>
    <link name="${prefix}pinky_force_sensor_2">
      <inertial>
        <origin xyz="1.83850807690782E-05 ${dir*-0.000118792499944516} -0.00077353663965421" />
        <mass value="0.001" />
        <inertia
          ixx="5.36105565367509E-09"
          ixy="${dir*2.9087102385881E-10}"
          ixz="-4.23704440233772E-12"
          iyy="2.78924633862048E-09"
          iyz="${dir*3.60734545957644E-11}"
          izz="8.01055296833179E-09" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/pinky_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/pinky_force_sensor_2.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}pinky_force_sensor_2_joint" type="fixed">
      <origin xyz="-0.00645123763174135 ${dir*0.0276833479200767} -0.00611719352979621" rpy="${dir*1.57079632679488} -1.45969392221055 ${dir*-1.22888814145719}" />
      <parent link="${prefix}pinky_2" />
      <child link="${prefix}pinky_force_sensor_2" />
     
    </joint>
    <link name="${prefix}pinky_force_sensor_3">
      <inertial>
        <origin xyz="6.36863053951123E-05 ${dir*-0.000437236774208316} -0.00112814037373121" />
        <mass value="0.001" />
        <inertia
          ixx="1.11592356002466E-10"
          ixy="${dir*-1.48925479775264E-11}"
          ixz="-1.18387481927136E-12"
          iyy="2.17209112811676E-10"
          iyz="${dir*8.07880135891967E-12}"
          izz="2.52055535156648E-10" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/pinky_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/pinky_force_sensor_3.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}pinky_force_sensor_3_joint" type="fixed">
      <origin xyz="-0.00639723214432697 ${dir*0.042706921918282} -0.00611537168168175" rpy="${dir*1.5707963267949} -1.43362674619531 ${dir*-2.2760856926538}" />
      <parent link="${prefix}pinky_2" />
      <child link="${prefix}pinky_force_sensor_3" />
     
    </joint>
    <link name="${prefix}pinky_force_sensor_1">
      <inertial>
        <origin xyz="-1.2130080955873E-05 ${dir*0.000116026903212899} -0.00056744299424992" />
        <mass value="0.001" />
        <inertia
          ixx="3.3658199564233E-09"
          ixy="${dir*1.51080971417152E-10}"
          ixz="5.66657100478518E-13"
          iyy="1.97859528185445E-09"
          iyz="${dir*-5.45672948532754E-12}"
          izz="5.28079755559196E-09" />
      </inertial>
      <visual>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/pinky_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
        <material name="">
          <color rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
        </material>
      </visual>
      <collision>

        <geometry>
          <mesh filename="file://$(find inspire_description)/meshes/RH56E2/sensors/pinky_force_sensor_1.STL" scale="1 ${dir} 1" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}pinky_force_sensor_1_joint" type="fixed">
      <origin xyz="-0.0120461582060113 ${dir*0.0196485471789908} -0.00665098451502223" rpy="${dir*1.5707963267949} -1.4636944932668 ${dir*-1.78288465285966}" />
      <parent link="${prefix}pinky_1" />
      <child link="${prefix}pinky_force_sensor_1" />
     
    </joint>

    <link name="${prefix}eef"/>
    <joint name="${prefix}eef_joint" type="fixed">
      <parent link="${prefix}hand_base"/>
      <child link="${prefix}eef"/>
      <origin xyz="-0.017 ${dir*0.0006} 0.1015"/>
    </joint>
  </xacro:macro>

</robot>
